
.micontenedor{
	
	padding-top:100px;
}

body{
	background: #93a4af;
}

*{
	font-family:"Righteous";
}

p,span {
	font-size:16px;
}

.precio{
	font-wight: bold;
	text-align: center;
}

.nombre{
	font-wight: bold;
	text-align: center;
}

.titulopagina{
	padding-bottom:50px;
}

.img-fluid{
	width: 100%;
}

.img-listado{
	max-height: 235px;
}