.micontenedor {
	padding-top: 100px;
}

body {
	background-image: url(../src//Block-Vector-HD-Wallpaper-9472.jpg);
    background-repeat: no-repeat;
    background-position: center top;
    background-attachment: fixed;
}

* {
	font-family: "Arial";
}

p, span {
	font-size: 16px;
}

.precio {
	font-weight: bolder;
	text-align: center;
}

.nombre {
	font-weight: bolder;
	text-align: center;
}

.titulopagina {
	padding-bottom: 50px;
}

.img-fluid {
	width: 100%;
}

.img-listado {
	max-height: 235px;
}

.card-img-top {

	margin-top: 30px;
	margin-bottom: 30px;
	
}

.footer {
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}

.contenidoprincipal {
	margin-bottom: 25px;
	padding-bottom:25px;
	background: white;
}

.producto{
	padding-bottom:10px;
}