.micontenedor {
	padding-top: 100px;
}

body {
	background-image: url(../src//Block-Vector-HD-Wallpaper-9472.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	background-attachment: fixed;
}

* {
	font-family: "Arial";
}

.header_principal {
	margin-bottom: 30px;
}

.milogo {
	width: 50%;
}

p, span {
	font-size: 16px;
}

.precio {
	font-weight: bolder;
	text-align: center;
}

.nombre {
	font-weight: bolder;
	text-align: center;
	overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.titulopagina {
	padding-bottom: 50px;
	font-family: "Bangers";
}

.img-fluid {
	width: 100%;
}

.img-listado {
	height: 235px;
}

.card-img-top {
	margin-top: 30px;
	margin-bottom: 30px;
}

.footer {
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
}

footer {
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
	text-align: center;
}

.contenidoprincipal {
	margin-bottom: 25px;
	padding-bottom: 25px;
	background: white;
}

.producto {
	padding-bottom: 10px;
}

.titulo_sidebar {
	font-family: "Bangers";
	text-align: center;
}



#custom-search-input{
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 6px;
    background-color: #fff;
}

#custom-search-input input{
    border: 0;
    box-shadow: none;
}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;
}

#custom-search-input .glyphicon-search{
    font-size: 23px;
}